<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>

    <div class="blogs content">
        <h2>All Blogs</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, fuga quis voluptate repellendus eaque, dignissimos quibusdam possimus corporis enim sed nesciunt dolorem id error vitae omnis architecto, aut cupiditate voluptatem!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, fuga quis voluptate repellendus eaque, dignissimos quibusdam possimus corporis enim sed nesciunt dolorem id error vitae omnis architecto, aut cupiditate voluptatem!</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad, fuga quis voluptate repellendus eaque, dignissimos quibusdam possimus corporis enim sed nesciunt dolorem id error vitae omnis architecto, aut cupiditate voluptatem!</p>
    </div>
    
    <%- include('./partials/footer.ejs') %>
</body>
</html>